In [1]:
# Create a dataframe which contain only integers with 3 rows and 2 columns run following dataframe methonds on them :
#df.describe()
#df.mean()
#df.corr()
#df.count
#df.max()
#df.min()
#df.median()
#df.std()

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
dict={
    'col_1':[1, 5, 7],
    'col_2':[2, 3, 7]
}

In [6]:
df=pd.DataFrame(dict)

In [7]:
df

   col_1  col_2
0      1      2
1      5      3
2      7      7

In [8]:
df.describe()

          col_1     col_2
count  3.000000  3.000000
mean   4.333333  4.000000
std    3.055050  2.645751
min    1.000000  2.000000
25%    3.000000  2.500000
50%    5.000000  3.000000
75%    6.000000  5.000000
max    7.000000  7.000000

In [9]:
df.mean()

col_1    4.333333
col_2    4.000000
dtype: float64

In [10]:
df.corr()

          col_1     col_2
col_1  1.000000  0.866025
col_2  0.866025  1.000000

In [12]:
df.count()

col_1    3
col_2    3
dtype: int64

In [13]:
df.max()

col_1    7
col_2    7
dtype: int64

In [14]:
df.min()

col_1    1
col_2    2
dtype: int64

In [15]:
df.median()

col_1    5.0
col_2    3.0
dtype: float64

In [16]:
df.std()

col_1    3.055050
col_2    2.645751
dtype: float64